html {
  background-color: rgb(220, 245, 228);
}
* {
  cursor: url('https://cdn.cursors-4u.net/previews/sharp-green-pointer-0b6ebb10-32.webp') 32 32, auto !important;
}
#container {
  background-size: cover;
  width: 1600px;
  margin: 0 auto;
  border-radius: 10px;
  height: 900px;
  margin-top:20px;
  margin-bottom: 10px;
  position:relative;
  border: solid #477556 2pt;
  background-color: rgb(183, 214, 183);
}
#container2 {
  background-size: cover;
  width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  height: 300px;
  margin-top:50px;
  margin-bottom: 10px;
  position:relative;
  border: solid #477556 2pt;
  background-color: rgb(155, 189, 155);
  text-align: center;
  font-size: 30px;
}
#month, #days, #genre, button {
  margin-top: 50px;
  background-color: #d2eedb;
  font-size: 25px;
}
#answerbox {
  background-size: cover;
  width: 1300px;
  margin: 0 auto;
  border-radius: 10px;
  height: 450px;
  margin-top:20px;
  margin-bottom: 10px;
  position:relative;
  border: solid #477556 2pt;
  background-color: rgb(155, 189, 155);
}
#answertext{
  margin-top: 90px;
  text-align: center;
  font-size: 35px;
}
footer {
  text-align: center;
}
#container2:hover, #answerbox:hover {
  transform: scale(1.03);
  filter:brightness(110%);
}
#thinking_pic {
  position: absolute;
  margin-top: 15%; 
  margin-left: 80%; 
  width: 150px; 
  height: 150px;
}
